body {
    font-family: 'Clear Sans', arial;
    background: var(--background);
}

:root {
    --background: #121213;
    --exactMatch: #538D4E;
    --match: #B59F3B;
    --noMatch: #121213;
    --text-col: #D7DADC;
    --cell-border-col: #3A3A3C;
}

#heading {
    text-align: center;
    color: var(--text-col); 
}

#root {
    display: flex;
    flex-direction: column;
}

#grid {
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.cell {
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 2rem;
    color: var(--text-col);
    font-weight: bold;
    border: 2px solid var(--cell-border-col);
    text-align: center;
}

.exactMatch {
    background-color: var(--exactMatch) !important;
}

.match {
    background-color: var(--match) !important;
}

.noMatch {
    background-color: var(--noMatch) !important;
}